<div class='home-wrap'>
	<div class='jumbotron'>
		
		<div id="owl-demo" class="owl-carousel owl-theme">

		  <div class="item"><img src="https://s3.amazonaws.com/inventivelabs/imgs/djob1.jpg" alt="The Last of us"></div>
		  <div class="item"><img src="https://s3.amazonaws.com/inventivelabs/imgs/job3.jpg" alt="GTA V"></div>
		  <div class="item"><img src="https://s3.amazonaws.com/inventivelabs/imgs/job2.jpg" alt="Mirror Edge"></div>
		</div> 
		<div class='home-top center'>
		<h1>Add and search for your dream Job</h1>
		<h2>Add and search for your dream Job</h2>
		</div>
	</div>
</div>

